body{
    font-family: sans-serif;
    background-color: darkblue;
}

h1{
    color: dimgrey;
}

ul{
    list-style: none;
}

.link-homework{
    color: #fff;
    font-weight: 600;
    font-size: 35px;
    text-decoration: none;
}