@import url(reset.css);

@import url("https://fonts.googleapis.com/css?family=Roboto:regular,500,700&display=swap");

body{
    font-family: "Montserrat", sans-serif;
}

.menu{
    background-color: #E74040;
    text-align: center;
}

.menu .item,
.socials .item{
    display: inline-block;
}

.menu .item + .item,
.socials .item + .item{ 
    margin-left: 35px;
}

.menu .link{
    padding: 25px 0;
    font-weight: 600;
    color: #fff;
}

.section{
    background-color: #231F8B;
    margin-bottom: 60px;
}

.container{
    min-width: 360px;
    max-width: 1050px;
    margin: 0 auto;
    padding-block: 112px;
}

.sub-title.violet{
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.71;

    margin-bottom: 10px;

    color: #5A54F2;
}

.title{
    color: #fff;

    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-weight: 700;

    margin-bottom: 10px;
}

.sub-title{
    color: #fff;

    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 70px;
}

.card{
    display: inline-block;
    padding: 35px 40px;
    width: 230px;
    background-color: #fff;
    vertical-align: top;
}

.card + .card{
    margin-left: 30px;
}

.card.violet{
    background-color: #5A54F2;
}

.card .img{
    margin-bottom: 20px;
}

.card .title{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;

    color: #252B42;

    margin-bottom: 20px;
}

.outline{
    width: 50px;
    height: 2px;

    margin-bottom: 20px;

    background-color: #E74040;
}

.card .sub-title{
    color: #737373;
    margin: 0;
}

.outline.white{
    background-color: #fff;
}

.title.white,
.sub-title.white{
    color: #fff;
}

.card.bottom{
    margin-top: 48px;
}

.title-test{
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
    text-transform: uppercase;

}

.txt-test{
    min-width: 320px;
    max-width: 950px;
    height: 100px;
    margin: 0 auto;
    overflow: scroll;
}

.social-title{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}

.socials{
    margin-left: 20px;
}

.socials .link{
    color: ghostwhite;
    background-color: darkolivegreen;
    padding: 25px 15px 20px 15px;
    margin-bottom: 25px;
}

.btn-up{
    display: inline-block;
    padding: 25px;
    background-color: darkorchid;
    color: #fff;
    margin-left: 20px;
}