@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body{
    font-family: "Poppins", sans-serif;
}

.wrapper{
	min-height: 100%;
	overflow: clip;
	display: flex;
	flex-direction: column;
}

.wrapper > main{
	flex-grow: 1;
}

.header,
.footer{
    max-width: 1450px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
}

.header__title,
.footer__title{
    text-align: center;
    font-size: 24px;
    color: blueviolet;
    font-weight: 700;
}

.section {
    padding-top: 32px;
    padding-bottom: 70px;
}
.section__container {
    max-width: 1220px;
    padding-right: 10px;
    padding-left: 10px;
    margin: 0 auto;
}
.checkout {
    display: flex; 
    gap: 24px;
    flex-wrap: wrap;
    align-items: flex-start;
}
.checkout__form {
    flex: 2;
    min-width: 400px;
}
.checkout__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.checkout__row{
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    margin-bottom: 16px;
}

.checkout__label{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 8px;
    flex: 1;
    margin-bottom: 16px;
}

.checkout__input{
    border: 1px solid #999;
    border-radius: 6px;
    padding: 16px;
    height: 50px;
}

select.checkout__input{
    appearance: none;
    background-image: url(../img/arrow.svg);
    background-repeat: no-repeat;
    background-position: right 16px center;
    background-size: 16px;
    line-height: 1.3;
    padding: 16px;
    border: 1px solid #999;
}

.checkout__input::placeholder,
.checkout__textarea::placeholder {
  transition: opacity 0.4s ease;
  opacity: 1;
}

.checkout__input:focus::placeholder,
.checkout__textarea:focus::placeholder {
  opacity: 0;
}

.checkout__checkbox {
    margin-bottom: 24px;
}

.checkout__checkbox input{
    display: none;
}

.checkout__checkbox label{
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
}

.checkout__checkbox label::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #999;
    border-radius: 4px;
}