@import url(reset.css);

.menu a{
    color: green;
}

.menu .menu-link{
    color: blue;
}

.menu .menu-link2{
    color: firebrick;
}

.menu .menu-link3{
    color: darkmagenta;
}

.menu .menu-link4{
    color: darkblue;
}

.menu .menu-link5{
    color: orangered;
}

h1, div h3{
    color:red;
}

#general-info-text{
    color: blueviolet;
}

[class*="te"] {
    color: blue;
}

.item > p {
    color: olivedrab;
}

.list + h3{
    color: darkorchid;
}

.title ~ h3{
    color: rgb(255, 0, 149);
}

[href*="up"]{
    color: red;
}

.socials .social-link{
    color: blue;
}

.social-link.red{
    color: red;
}