@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

@import url("fonts.css");


body{
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}

.wrapper{
    min-height: 100%;
    overflow: clip;
}

/* HEADER */

.header {
    background: #333;
}

.header--margin{
    margin-bottom: 25px;
}

[class*="__container"]{
    max-width: 1340px;
    padding-right: 10px;
    padding-left: 10px;
    margin: 0 auto;
}

.nav__item {
    display: inline-block;
}

.nav__item:not(:first-child){
    margin-left: 52px;
}

.nav__link {
    padding: 16px 0;
    color: #999;
    line-height: 1.5;
}

.nav__item:hover .nav__link{
    color: #ffffff;
}

/* SECTION #1 */

.product__container {
    max-width: 1360px;
    padding-right: 10px;
    padding-left: 10px;
    margin: 0 auto;
}
.product-list {
    font-size: 0;
    display: inline-block;
}
.product-list__card {
    font-size: 14px;
    display: inline-block;
    border: 1px solid #999;
}
.product-list__top {
    position: relative;
    display: inline-block;
    padding: 5px;
}
.product-list__image,
.product-list__link {
    display: block;
}
.product-list__sale {
    position: absolute;
    top: 16px;
    left: 16px;
    padding: 3px 8px;
    background-color: #EA4B48;
    color: #FFF;
    border-radius: 4px;
}

.product-list__sale--fw-500{
    font-weight: 500;
}

.action-buttons{
    opacity: 0;
    visibility: hidden;
}

.product-list__card:hover .action-buttons{
    opacity: 1;
    visibility: visible;
}

.action-buttons a:not(:last-child){
    margin-bottom: 6px;
}

.action-buttons{
    position: absolute;
    right: 16px;
    top: 16px;
}

.action-buttons a{
    display: block;
    background-color: #fff;
    border: 1px solid #999;
    border-radius: 50%;
    padding: 10px;
}

.action-buttons__icon:hover{
    background-color: #00B207;
}

.action-buttons__icon:hover path{
    stroke: #ffffff;
}

.product-list__card:hover{
    border: 1px solid #2C742F;
    box-shadow: 0px 0px 12px 0px rgba(32, 181, 38, 0.32);
}

.product-list__bottom {
    position: relative;
    padding: 12px;
}

.product-list__title {
    color: #4D4D4D;
    line-height: 1.5;
}

.product-list__title:hover{
    color: #2C742F;
}

.product-list__price {
    display: inline-block;
    font-weight: 500;
}
.product-list__price--sale {
    display: inline-block;
    color: #999;
    text-decoration: line-through;
}

.product-list__btn{
    position: absolute;
    right: 16px;
    top: 10px;
    background-color: #fff;
    border: 1px solid #999;
    border-radius: 50%;
    padding: 10px;
}

.product-list__card:hover .product-list__btn{
    background-color: #00B207;
    border: 1px solid transparent;
}

.product-list__card:hover .product-list__btn path{     
    stroke: #ffffff;
}

.product-list__card .product-list__btn:hover{
    background-color: #2C742F;
    border: 1px solid transparent;
}

.product-list__btn:hover path{
    stroke: #fff;
}

/* SECTION #2 */

.risk-platform{
    position: relative;
    background-color: #5A54F2;
    color: #FFF;
    margin-top: 20px;
}

.risk-platform::before{
    content: '';
    position: absolute;
    top: 0;
    left: -10%;
    width: 120%;
    border: 30px solid #fff;
    border-radius: 0 0 100% 100%;
}

.risk-platform__body {
    position: relative;
}

.risk-platform__body::before{
    content: "";
    background: url(../img/dotted-vertical.svg) center no-repeat;
    width: 300px;
    height: 500px;
    position: absolute;
    top: 35%;
    left: -10%;
}

.risk-platform__body::after{
    content: "";
    position: absolute;
    width: 214px;
    height: 472px;
    bottom: 5%;
    right: -9.5%;
    background: url(../img/dotted-horizontal.svg) center no-repeat;
}

.content-top {
    display: inline-block;
    position: relative;
}

.content-top::before{
    content: "";
    position: absolute;
    width: 65px;
    height: 65px;
    top: 30%;
    left: -12%;
    background: url(../img/ellipse-small.svg) center no-repeat;
}

.content-top::after{
    content: "";
    position: absolute;
    width: 405px;
    height: 405px;
    top: 35%;
    left: -10%;
    background: url(../img/ellipse-big.svg) center no-repeat;
}

.content-top__img {
    box-shadow: -25px 20px 44px 0px rgba(84, 48, 209, 0.40);
    margin-right: 70px;
}

.content-botomm__img,
.content-top__img{
    position: relative;
    display: inline-block;
    z-index: 1;
    vertical-align: middle;
    overflow: hidden;
    border-radius: 20px;
}

.content-top__info,
.content-botomm__info  {
    vertical-align: middle;
    display: inline-block;
    max-width: 530px;
}

.content-top__title,
.content-botomm__title {
    font-family: "Circular Std", sans-serif;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 13px;
}

.content-top__desc,
.content-botomm__desc {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 39px;
}

.content-top__btn,
.content-botomm__btn {
    font-family: "Roboto", sans-serif;
    font-size: 18px;

    padding: 21px 26px;
    background-color: #F35B09;
    border-radius: 60px;
}

.content-top__btn:hover,
.content-botomm__btn:hover{
    background-color: #c94600;
}

.content-botomm--right{
    max-width: 1050px;
    display: block;
    margin-left: auto;
}

.content-botomm {
    position: relative;
}

.content-botomm::before{
    position: absolute;
    content: "";
    width: 65px;
    height: 65px;
    top: -8%;
    right: 35%;
    z-index: 2;
    background: url(../img/ellipse-small.svg) center no-repeat;
}

.content-botomm::after{
    position: absolute;
    content: "";
    width: 262px;
    height: 262px;
    top: -5%;
    right: -5%;
    background: url(../img/ellipse-middle.svg) center no-repeat;
}

.risk-platform::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: -10%;
    width: 120%;
    border: 30px solid #fff;
    border-radius: 100% 100% 0 0;
}



